:root {
    body {
      color-scheme: light;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Nunito, Inter, system-ui, sans-serif;
  }
  body {
    font-family: Rubik, Inter, system-ui, sans-serif;
  }

  .logo{
    display: flex;
    flex-direction: row;
    margin-top: 2px;
  }
  .logoimg img{
    height: 40px;
    margin-right: 10px;
  }